<aside class="blog-right">
    <!-- Start Sidebar Single widget -->
    <search></search>
    <!-- End Sidebar Single widget -->

    <!-- Start Sidebar Single widget -->
    <div class="single-widget">
        <h2>Follow us on</h2>
        <div class="follow-us">
            <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
            <a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
            <a class="google-plus" href="#"><span class="fa fa-google-plus"></span></a>
            <a class="youtube" href="#"><span class="fa fa-youtube"></span></a>
            <a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>
            <a class="dribbble" href="#"><span class="fa fa-dribbble"></span></a>
        </div>
    </div>
    <!-- News component -->
    <news></news>
    <!-- end of news component -->

    <div class="single-widget">
        <h2 style="font-family: 'Roboto Condensed', sans-serif">Δραστηριότητες</h2>
        <div class="instagram-feed">
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-2.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-4.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-5.png" alt="img">
            </div>
        </div>
    </div>
    <!-- End Sidebar Single widget -->
    <!-- Start Sidebar Single widget -->
    <div class="single-widget">
        <h2>ΟΡΟΣΗΜΟ newslater</h2>
        <form class="blog-search">
            <input type="text">
            <button class="button button-default" data-text="Subscribe" type="submit"><span>Εγγραφή</span></button>
        </form>
    </div>
    <!-- End Sidebar Single widget -->
</aside>


