<aside class="blog-right">
    <!-- Start Sidebar Single widget -->
    <search></search>
    <!-- End Sidebar Single widget -->

    <!-- Start Sidebar Single widget -->
    <future></future>
    <!-- End Sidebar Single widget -->

    <!-- Start navigation -->
    <hr>
    <div class="single-widget">
        <h2>ΟΡΟΣΗΜΟ πλοήγηση</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="" data-parent="#accordion" href="/"><span class="glyphicon glyphicon-home"></span> Αρχική</a>
                                </h4>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="" data-parent="#accordion" href="/studies"><span class="glyphicon glyphicon-book"></span> Σπουδές</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="" data-parent="#accordion" href="/success"><span class="glyphicon glyphicon-signal"></span> Επιτυχίες</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        <span class="glyphicon glyphicon-file"></span> Reports</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody><tr>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-usd"></span> Sales</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-user"></span> Customers</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-tasks"></span> Products</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                </div>
            </div>
        </div>
    </div>
    <!-- End navigation -->

    <!-- Start Sidebar Single widget -->
    <div class="single-widget">
        <h2>Follow us on</h2>
        <div class="follow-us">
            <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
            <!--<a class="twitter" href="#"><span class="fa fa-twitter"></span></a>-->
            <a class="google-plus" href="#"><span class="fa fa-google-plus"></span></a>
            <a class="youtube" href="#"><span class="fa fa-youtube"></span></a>
            <!--<a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>-->
            <!--<a class="dribbble" href="#"><span class="fa fa-dribbble"></span></a>-->
        </div>
    </div>
    <!-- News component -->
    <news></news>
    <!-- end of news component -->

    <div class="single-widget">
        <h2 style="font-family: 'Roboto Condensed', sans-serif">Δραστηριότητες</h2>
        <div class="instagram-feed">
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-2.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-4.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-5.png" alt="img">
            </div>
        </div>
    </div>
    <!-- End Sidebar Single widget -->
    <!-- Start Sidebar Single widget -->
    <div class="single-widget">
        <h2>ΟΡΟΣΗΜΟ newslater</h2>
        <form class="blog-search">
            <input type="text">
            <button class="button button-default" data-text="Subscribe" type="submit"><span>Εγγραφή</span></button>
        </form>
    </div>
    <!-- End Sidebar Single widget -->
</aside>


