<aside class="blog-right">
    <!-- Start Sidebar Single widget -->
    <!--<search></search>-->
    <!-- End Sidebar Single widget -->
    <div class="single-widget">
        <h2 style="font-family: 'Roboto Condensed', sans-serif">ΟΡΟΣΗΜΟ online</h2>
        <hr>


        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <span class="glyphicon glyphicon-align-justify"></span> πλοήγηση</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tbody><tr>
                                                <td>
                                                    <a href="/"><span class="glyphicon glyphicon-home"></span> Αρχική</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/about"><span class="glyphicon glyphicon-user"></span> Εμείς</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/studies"><span class="glyphicon glyphicon-book"></span> Οδηγός Σπουδών</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/success"><span class="glyphicon glyphicon-signal"></span> Επιτυχίες</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/register"><span class="glyphicon glyphicon-log-in"></span> Εγγραφή</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/posts"><span class="glyphicon glyphicon-bullhorn"></span> Νέα</a>
                                                </td>
                                            </tr>

                                            </tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="single-widget">
        <h2>Ακολούθησε μας</h2>
        <div class="follow-us">
            <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
            <!--<a class="twitter" href="#"><span class="fa fa-twitter"></span></a>-->
            <a class="google-plus" href="#"><span class="fa fa-google-plus"></span></a>
            <a class="youtube" href="#"><span class="fa fa-youtube"></span></a>
            <!--<a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>-->
            <!--<a class="dribbble" href="#"><span class="fa fa-dribbble"></span></a>-->
        </div>
    </div>
    <!-- Start Sidebar Single widget -->

    <!-- End Sidebar Single widget -->

    <!-- Start navigation -->
    <hr>

    <!-- End navigation -->
    <future></future>

    <div class="single-widget">
        <h2 style="font-family: 'Roboto Condensed', sans-serif">Δραστηριότητες</h2>
        <hr>
        <div class="instagram-feed">
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-2.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-4.png" alt="img">
            </div>
            <div class="single-instagram-feed">
                <img src="/static/app/images/slider-5.png" alt="img">
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button class="button button-default center" data-text="περισσότερα" type="submit"><span> περισσότερα</span></button>

        </div>

    </div>

    <!-- Start Sidebar Single widget -->

    <!-- News component -->
    <news></news>

    <newsletter></newsletter>

</aside>


