{% extends 'page_base.html' %}

{% block title %}
{{ super() }} - Eγγραφή
{% endblock %}


{% block sidebar %}
{% include 'widgets/sidebar.html' %}
{% endblock %}



{% block footer %}
{% include 'widgets/footer.html' %}
{% endblock %}


{% block content %}
<register></register>

{% endblock %}

{% block topnav %}
{% include 'widgets/topnav.html' %}
{% endblock %}


{% block extra_js %}
<script src="/static/app/js/dist/tags/news.js"></script>
<script src="/static/app/js/dist/tags/search.js"></script>
<script src="/static/app/js/dist/tags/register.js"></script>
<script>
    var newsfeed = riot.mount('news');
    var search = riot.mount('search');
    var register = riot.mount('register');
</script>
{% endblock %}