{% extends 'page_base.html' %}

{% block title %}
{{ super() }} - Σπουδές
{% endblock %}


{% block sidebar %}
{% include 'widgets/sidebar.html' %}
{% endblock %}



{% block footer %}
{% include 'widgets/footer.html' %}
{% endblock %}


{% block topnav %}
{% include 'widgets/topnav.html' %}
{% endblock %}


{% block content %}

    <ul class="tab-nav">
        <li>
            <a class="botton button active" href="#glikeiou">Γ' Λυκείου</a>
        </li>
        <li>
            <a class="botton button" href="#blikeiou">Β' Λυκείου</a>
        </li>
        <li>
            <a class="botton button" href="#alikeiou">Α' Λυκείου</a>
        </li>
        <li>
            <a class="botton button" href="#gymn">Γυμνάσιο</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="glikeiou">
            <div class="container">
                <h3>Τεχνολογική - 13 ώρες</h3>

                <h5>1. Κύκλος Τεχνολογίας & Παραγωγής</h5>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">4</td>
                        </tr>
                        <tr>
                            <td>Φυσική - Μηχανική</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Φυσική - Μηχανική</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ηλεκτρολογία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Χημεία - Βιοχημεία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h5>2. Κύκλος Πληροφορικής & Υπηρεσιών</h5>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">4</td>
                        </tr>
                        <tr>
                            <td>Φυσική - Μηχανική</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Φυσική - Μηχανική</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ανάπτυξη εφαρμογών</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχές Οργάνωσης</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Θεωρητική - 13 ώρες</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Αρχαία</td>
                            <td style="width:40%">5</td>
                        </tr>
                        <tr>
                            <td>Λογοτεχνία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Λατινικά</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Ιστορία</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Θετική - 13 ώρες</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">4</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Χημεία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Βιολογία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <h3>Μαθήματα Επιλογής</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά Γενικής Παιδείας</td>
                            <td style="width:40%">2</td>
                        </tr>
                        <tr>
                            <td>Φυσική Γενικής Παιδείας</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Βιολογία Γενικής Παιδείας</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Ιστορία Γενικής Παιδείας</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Αρχές Οικονομικής Θεωρίας</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="blikeiou">
            <div class="container">
                <h3>Τεχνολογική - 13 ώρες</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Άλγεβρα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Φυσική Γενικής Παιδείας</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>*Επιπλέον Φυσική Γ` Λυκείου</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <h3>Θετική - 13 ώρες</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Χημεία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Φυσική Γενικής Παιδείας</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>*Επιπλέον Φυσική Γ` Λυκείου</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Θεωρητική - 13 ώρες</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Aρχαίο Άγνωστο</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Αρχαίο Γνωστό</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Λατινικά</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχαία Γενικής Παιδείας</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχαία Γνωστό Γ` Λυκείου</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Άλγεβρα επιλογής</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>





            </div>
        </div>
        <div class="tab-pane" id="alikeiou">
            <div class="container">
                <h3>Γενικά Μαθήματα</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Άλγεβρα</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Νέα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <h3>Μαθήματα επιλογής</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Γεωμετρία</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Χημεία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχαία</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Από Α` Λυκείου με στόχο τη θεωρητική</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Νέα - Γλώσσα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχαία</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>




            </div>
        </div>
        <div class="tab-pane" id="gymn">

            <div class="container">
                <h3>Γ' Τάξη</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Χημεία</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Αρχαία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Νέα - Γλώσσα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <h3>Β' Τάξη</h3>
                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Φυσική</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Χημεία</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Αρχαία</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Νέα - Γλώσσα</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Α' Τάξη</h3>

                <div class="table-wrapper container" style="width">
                    <table style="width: 70%">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td style="width:60%">Μαθηματικά</td>
                            <td style="width:40%">3</td>
                        </tr>
                        <tr>
                            <td>Νέα - Γλώσσα</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Αρχαία</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
<script src="/static/app/components/news.js"></script>
<script src="/static/app/components/search.js"></script>
<script>
    var newsfeed = riot.mount('news');
    var search = riot.mount('search');
</script>
{% endblock %}