{% extends 'page_base.html' %}

{% block title %}
{{ super() }} - Σπουδές
{% endblock %}


{% block sidebar %}
{% include 'widgets/sidebar.html' %}
{% endblock %}



{% block footer %}
{% include 'widgets/footer.html' %}
{% endblock %}


{% block topnav %}
{% include 'widgets/topnav.html' %}
{% endblock %}


{% block content %}
<div class="single-widget">
    <h2>ΟΡΟΣΗΜΟ - 28 χρόνια Επιτυχίες</h2>
    <hr>
    <blockquote style="font-family: 'AlphaEcho', sans-serif">
        γιατί οι δικές σας επιτυχίες μας επιβεβαιώνουν στην πράξη!

    </blockquote>

</div>

<success></success>

{% endblock %}


{% block extra_js %}
<!-- sidebar -->
<script src="/static/app/js/dist/tags/news.js"></script>
<script src="/static/app/js/dist/tags/future.js"></script>
<script src="/static/app/js/dist/tags/search.js"></script>
<script src="/static/app/js/dist/tags/newsletter.js"></script>
<!-- end of side bar -->
<script src="/static/app/js/dist/tags/success.js"></script>
<script>
    var success = riot.mount('success');

    var newsfeed = riot.mount('news');
    var search = riot.mount('search');
    var future = riot.mount('future');
    var newsletter = riot.mount('newsletter');

</script>
{% endblock %}