{% extends 'admin/base.html' %}

{% block section %}
Διαχείρηση ΟΡΟΣΗΜΟ  <small>Άρθρα</small>
{% endblock %}

{% block breadcrumb %}
<li class="active">Άρθρα</li>
{% endblock %}


{% block sidebar %}
{% include 'admin/widgets/sidebar.html' %}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Άρθρα ΟΡΟΣΗΜΟ</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Τίτλος</th>
                        <th>Ημερομηνία</th>
                        <th>Δημοσίευση</th>
                        <th>Προεσκόπηση</th>
                        <th>Διαγραφή</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Εγγραφές 2017</td>
                        <td><small>24/6/2016</small></td>
                        <td><input type="checkbox" value="" checked></td>
                        <td><button href="#" class="button btn-success btn-flat" type="button"  data-toggle="modal" data-target="#post2"><span><i class="fa fa-eye"></i></span></button></td>
                        <td><button href="#" class="button btn-danger btn-flat" ><span><i class="fa fa-remove"></i></span></button></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="modal modal-primary fade" id="post2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Primary Modal</h4>
                        </div>
                        <div class="modal-body">
                            <article class="single-from-blog">
                                <div class="blog-title">
                                    <h2>Εηγραφές 2016</h2>
                                    <p>Posted by <a href="#" class="blog-admin">διαχείρηση ΟΡΟΣΗΜΟ</a> on <span class="blog-date">2/6/2017</span></p>
                                </div>
                                <figure>
                                    <a href="#"><img alt="img" src="/static/uploads/post/post-1.png"></a>
                                </figure>
                                <div class="blog-details-content">
                                    <p>Οι εγγραφές μας θα συνεχιστούν και μέσα στιν Οκτώβρη, τις πρωινές ώρες στην γραμματεία. Για ευκολία μπορείτε να συμπληρώσετε την αίτηση εγγραφής στην ιστοσελίδα μας εδώ και θα επικοινωνήσουμε εμείς μαζί σας.</p>
                                </div>
                            </article>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}

{% endblock %}