
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/admin/images/logo-160x160.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Διαχειριστής</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">Διαχείρηση</li>
            <li>
                <a href="/admin">
                    <i class="fa fa-th-large"></i> <span>Επισκόπηση</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Άρθρα ΟΡΟΣΗΜΟ</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/post/"><i class="fa fa-list-ul"></i> Λίστα</a></li>
                    <li><a href="/admin/post/new"><i class="fa fa-pencil-square-o"></i> Δημιουργία</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/newsletter">
                    <i class="fa fa-envelope"></i> <span>Newsletter</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Θέματα ΟΡΟΣΗΜΟ</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/exercises/glykeio">
                        <i class="fa fa-circle-o"></i> Γ Λυκείου</a>
                    </li>
                    <li><a href="/admin/exercises/blykeio">
                        <i class="fa fa-circle-o"></i> Β Λυκείου</a>
                    </li>
                    <li><a href="/admin/exercises/alykeio">
                        <i class="fa fa-circle-o"></i> A Λυκείου</a>
                    </li>
                    <li><a href="/admin/exercises/gymnasio">
                        <i class="fa fa-circle-o"></i> Γυμνάσιο</a>
                    </li>
                    <li><a href="/admin/exercises/epal">
                        <i class="fa fa-circle-o"></i> ΕΠΑΛ / Νυχτερινά</a>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-film"></i>
                    <span>Συλλογές ΟΡΟΣΗΜΟ</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/collections/images"><i class="fa fa-file-picture-o"></i> Φωτογραφίες</a></li>
                    <li><a href="/admin/collections/video"><i class="fa fa-youtube-play"></i> Βίντεο</a></li>
                </ul>
            </li>

            <li class="header">copyright @ oroshmo-ilion.gr </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
